<!-- <p>registration works!</p> -->
<nav class="navbar navbar-expand-md bg-primary navbar-dark d-flex justify-content-between py-3">
  <a class="navbar-brand  px-5" href="#">Fault Inspection Tool</a>
</nav>
<div class="row">
<div class="pt-4 col-sm-6">
    <div class="container" style="background-color: white">
      
        <h2 class="py-4">Registration form</h2>  
        <div *ngIf="alert" class="alert alert-success alert-dismissible" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Success!</strong> registered successfully.
        </div> 
        <!-- <small [class.text-danger]="msg?.status==500">{{msg?.message}}</small> -->
        <form #registrationform="ngForm" (ngSubmit)="registerUser()">
            <small [class.text-danger]="msg?.status==500">{{msg?.message}}</small>
            <!-- <small *ngIf="msg?.status==500">{{msg?.message}} </small> -->
          <div class="form-group">
            <label for="email" class="font-weight-bold col-sm-2">Email:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" placeholder="Enter email" name="email" [(ngModel)]="user.emailId"
              required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #email="ngModel" [class.is-invalid]="email.invalid && email.touched"
              >
              <!-- <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email Id is required</small> -->
              <div *ngIf="email.errors && (email.invalid && email.touched) ">
                <small class="text-danger" *ngIf="email.errors.required">Email Id is required</small>
                <small class="text-danger" *ngIf="email.errors.pattern">Enter the valid Email Id</small>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="username"  class="col-sm-2 font-weight-bold">User Name:</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Enter username" name="username"  [(ngModel)]="user.username"
             #username="ngModel" required [class.is-invalid]="username.invalid && username.touched" >
             <small class="text-danger" [class.d-none]="username.valid || username.untouched">Username is required</small>
            </div>
          </div> 

          <div class="form-group">
            <label class="control-label font-weight-bold col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-10">          
              <input type="password" class="form-control" placeholder="Enter password" name="password" [(ngModel)]="user.password"
              required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" #password="ngModel" [class.is-invalid]="password.invalid && password.touched"
              >
              <small class="text-danger" [class.d-none]="password.valid || password.untouched">password is required</small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label font-weight-bold col-sm-4" for="pwd">Confirm Password:</label>
            <div class="col-sm-10">          
              <input type="password" class="form-control" placeholder="Enter password" name="cpassword" (ngModel)="user.password"
              required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" #cpassword="ngModel" [class.is-invalid]="cpassword.invalid && cpassword.touched"
              >
              <small class="text-danger" [class.d-none]="(cpassword.value == password.value) || cpassword.untouched">password & confirm passwrd must be same</small>
            </div>
          </div>
          <div class="row">
            <div class=" col-sm-8 pl-3 py-3">
              <button [disabled]="registrationform.form.invalid" type="submit" class="btn btn-info" >Register </button>
            </div>
            <div class=" col-sm-4 pt-4">
              <span class="font-weight-bold psw">Existing user? <a href="/login">Login here</a></span>
              <!-- <small class="float-right btextual py-4" [routerLink]="['/login']">Existing user? Login here</small> -->
            </div>
          </div>
              
          
              
             
          
        </form>
      </div>
    </div>
    <div class="col-sm">
      <div class="text-center">
        <img src="./assets/images/logo.png"
           class="img-responsive center-block "
            />
      </div>
    </div>

  </div>