<style>
    #f {
      background-color: #f44336;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
   
    </style>
<nav class="navbar navbar-expand-md bg-primary navbar-dark d-flex justify-content-between">
    <a class="navbar-brand  px-5" href="#">Fault Inspection tool</a>
    <!-- <span class="psw  px-5"> <a href="/login">logout</a>class="d-flex justify-content-around"</span>
    <button class="btn btn-success"><a href="/login"></a>logout</button> -->
    <!-- <h1>{{user.username}}</h1> -->
    <button (click)="logout()" class=" px-5" id="f" target="_blank">Logout {{user}}</button>
    
</nav>


<div class="container py-2">
   <div class="row">
      <mat-card class="py-2">
        <div class="justify-content-around py-3">
        <a (click)="handleClick()" href="javascript:undefined">
            <i class=" la la-upload"></i>
        </a>
        <input type="file" (change)="addAttachment($event)" />
        <button class="btn btn-success" (click)="onFileChanged()">Scan</button>
        
        </div>
      </mat-card>
      <div></div>
    </div>  
    <h4 class="font-weight-bold py-3">LAST SCAN LOG</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th> File Name </th>
                <th> Date </th>
                <th> Detected </th>

                    
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let res of result">
                <td>{{res.fileName}} </td>
                <td>{{res.date}} </td>
                <td>{{res.response}} </td>
        
            </tr>
        </tbody>


    </table>
</div>



